.card-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 30px;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  align-items: center;
  justify-items: center;
  margin-bottom: 6rem;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .card-list {
    width: 80%;
    height: 50%;
    margin-bottom: 50px;

    img {
      width: 100%;
      max-width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 15px;
      border: white solid 2px;
      object-fit: cover;
      cursor: pointer;
    }

    .image-modale {
      max-height: 350px;
    }

    h2 {
      text-align: center;
      color: #fff;
      font-size: 18px;
    }
    .portfolio-hover{
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      .portfolio-title{
        color: black;
      }    }
  }
}
// .card-container  :hover{
//   background-color: #fff;

// }

@media screen and (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
}
