.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 30px;
  padding: 0px 0px 0px 50px;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .card-list {
    width: 80%;
    margin-bottom: 50px;

    img {
      width: 100%;
      max-width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 15px;
      border: white solid 2px;
      object-fit: cover;
      cursor: pointer;
    }
    .image-modale {
      max-height: 350px;
    }

    h2 {
      text-align: center;
      color: #fff;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .image-modale {
    max-height: 200px;
  }
}
