footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  width: 100%;
  padding: 20px;
  background-color: rgb(5, 44, 22);
  margin: auto;
 a{
    text-decoration: none;
    color: #fff;
 }

}



@media screen and (max-width: 768px) {
   footer{
      flex-direction: column;
      gap: 0;
      padding: 0;
   }
 }
