footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;

  padding: 20px;
  background-color:#fff;
  margin: auto;
 a,p{
    text-decoration: none;
    color: #0d2533;
 }


}



@media screen and (max-width: 768px) {
   footer{
      flex-direction: column;
      gap: 0;
      padding: 0;
   }
 }
