
header{
    display: flex;
    justify-content: center;
    background: white;


.navbar {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  
    ul a {
      font-family: Montserrat, sans-serif;
      font-size: 24px;
      font-weight: 500;
      color: DarkGoldenrod;
      text-decoration: none !important;
      margin-left: 30px;
      
    }
   
    
  }
}
// header:hover{
     
//   background: white;
 
//  }
  
  @media screen and (max-width: 768px) {
    header{
      justify-content: center;
    }
   .navbar{
    padding-left: 25px;
    }
  
  }
