header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  .navbar {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
    }

    ul a {
      font-family: Montserrat, sans-serif;
      font-size: 24px;
      font-weight: 500;
      color: DarkGoldenrod;
      text-decoration: none !important;
      margin: 18px;
    }
  }
}

@media screen and (max-width: 768px) {
  header{
 
    .navbar{
   
      ul a{
        font-size: 20px;
      margin: 15px 10px 15px;

      }
    }
    }

}
