.cv-download {
  padding: 16px 35px;
  border-radius: 15px;
  border-color: #fff;
  background: linear-gradient(to right, #134e5e -2%, #76b5b3 -5%, #134e5e 110%);
}
a {
  font-size: 18px;
  text-decoration: none;
  color:rgb(255, 255, 255);
  
}
