.headline {
  .headline-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    background-size: cover;
    height: 100vh;
    /* min-height: 100%; */
    width: 100%;
    object-fit: cover;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    position: absolute;
    bottom: 58%;
  }
  h2 {
    font-size: 25px;
    position: absolute;
    bottom: 50%;
  }
  p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 2% 15%;
    align-items: center;
    text-align: center;
    line-height: 30px;
    position: absolute;
    bottom: 18%;
    gap: 50px;
 
  }
}

section.competences {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d2533;
  height: 100vh;
  margin: 0 15px;

  .logos {
    display: flex;

    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 50px;

  }
  img {
    border: 6px solid;
    padding: 1%;
  }
  h1,
  p {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  p {
    width: 49%;
    margin-left: 25%;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
  }
}

.gallerie {
  // height: 100vh;
  h1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .headline {
    background: none;

    h1 {
      top: 6%;
    }
    h2 {
      text-align: center;
      top: 29%;
      margin: 0 15px 0 15px;
    }
    p {
      width: 91%;
      font-size: 18px;
      bottom: 10%;
    }
    img {
      border-radius: 10px;
    }
  }
  .p-title h1 {
    margin: 0 0 3rem;
  }
  section.competences {
    p {
      font-size: 18px;
      width: 100%;
      margin-left: 0;
    }
    img {
      border: 3px solid;
      width: 80%;
      
    }
  }
}
