.wrapper_service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 85px 50px;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .wrapper_list {
    // max-width: 1140px;
    margin-inline: auto;
    padding-block: 15px;
    margin: 0 15px;
    width: 80%;
    .wrapper {
      background-color: #fff;
      border-radius: 15px;

      h2 {
        // width: 67%;
        font-size: 20px;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
        border: black;
        color: DarkGoldenrod;
        text-transform: uppercase;
      }
      .wrapper_icon {
        display: flex;
        justify-content: end;
        font-size: 30px;
        color: DarkGoldenrod;
        padding-right: 20px;
      }
      //  .wrapper_icon :hover{

      //           transform: rotate(45deg);
      //      }

      .wrapper_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }
    }
    .container-text {
      line-height: 1.7;
      padding: 0 15px 15px;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper-service {
    p {
      width: 75%;
      padding: 30px;
    }
  }
  .wrapper_service {
    .wrapper_list {
      width: 100%;
      .wrapper {
        h2 {
          font-size: 14px;
        }
        .wrapper_icon {
          font-size: 22px;
        }
      }
    }
  }
}
