.modal-backround {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .modal {
    position: fixed;
    position: relative;
    inset: 0;

    z-index: 1000;
    display: flex;
    justify-content: center;
    margin: 4% auto;
  }
  .modal-content {
    width: 500px;

    position: relative;
    position: fixed;
    top: 14%;
    background: #fff;
    border-radius: 15px;
    padding: 25px;
    .apercu {
      margin: 20px 0;
      font-size: 20px;
      font-weight: 700;
      a {
        text-decoration: none !important;
        color: inherit;
      }
      h2 {
        margin: 20px 0;
      }
    }
  }
  .close-modal {
    position: absolute;
    top: 5%;
    right: 8%;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    color: DarkGoldenrod;
    font-weight: 700;
    border: DarkGoldenrod 2px solid;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    margin: 0 20px;

    .modal-content {
      top: 0%;
      width: 77%;
      height: 71%;
      border-radius: 15px;
      padding: 25px;
      margin: 20% 0;
      h3,
      a,
      span {
        font-size: 15px;
      }

      img {
        width: 100%;
        height: auto;
        max-height: 326px;
        min-height: auto;
        object-fit: cover;
      }
    }
    .close-modal {
      top: 7%;
      right: 7%;
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 1028px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .modal-content {
    width: 700px;
    height: 50%;
    img {
      object-fit: fill;
    }
  }
}
